@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #18181B; /* Zinc-950 color */
  --foreground: #ffffff; /* White for foreground text */
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-upload-wrapper.upload-wrapper .ant-upload-drag {
  background-color: #1a1a1a !important;
  border-color: #333 !important;
}

.ant-upload-wrapper.upload-wrapper .ant-upload-drag:hover {
  border-color: #1890ff !important;
}

.ant-message-notice-content {
  background-color: #1a1a1a !important;
  color: white !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
